.game_table td{
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    border-style: inset;
    border-width: 7px;
    border-color: #acacac;
}
.game_table {
    border-spacing: 0px;
    margin: auto;
}
body {
    background-color: #e4e4e4;
}
.container {
    margin: auto;
}
